.row_wrap {
  width: 71%;
  margin-left: auto;
  margin-bottom: 20px;
}
.news_section {
  overflow-y: hidden;
}

.row_wrap {
  width: 70.3%;
  margin-left: auto;
}

.row {
  margin: 0 !important;
  border-radius: 10px;
}

.col {
  padding: 0 8px !important;
}

.choose_title h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.line {
  margin-bottom: 20px;
  width: 80%;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 10px;
}

.line::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: #03544c;
}

/* .process_input {
  width: 80%;
  margin-top: 30px;
} */

.slider_wrap {
  background: #03544c;
  border-radius: 20px;
  padding: 40px;
}

.slider_card {
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div > p {
  margin: 0;
}
.div {
  margin-left: 13px;
}

.user_name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.user_name_wrap {
  display: flex;
  align-items: center;
}

.user_email {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.card_line {
  height: 2px;
  width: 100%;
  background-color: #e5e7ea;
  margin: 20px 0;
}

.star_wrap,
.star_box {
  display: flex;
  align-items: center;
}
.star_wrap > p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}

.star_box {
  margin-left: 12px;
}

@media only screen and (max-width: 1090px) {
  .row_wrap {
    width: 100%;
  }

  .line {
    width: 80%;
  }
  .slider_wrap{
    border-radius: 0;
  }

  /* .choose_title {
      margin-left: 20px;
    } */
}

@media only screen and (max-width: 1090px) {
  .row_wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  .row_wrap {
    padding: 0;
  }

  .choose_title {
    margin-left: 10px;
  }
  .slider_wrap {
    border-radius: 0;
  }
}

@media only screen and (max-width: 640px){
  .row_wrap{
    margin-bottom: 0;
  }
 } 
@media only screen and (max-width: 375px) {
  .slider_wrap {
    padding: 20px 0;
  }
  .range_input {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 375px) {
  .slider_wrap {
    padding: 0 0 10px 0;
  }
  .slider_card{
    border-radius: 0;
  }

  .row_wrap{
    margin-bottom: 0;
  }
  
}
