.popular_section {
  background-image: url("../../../assets/home/line.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position-y: 300px;
  padding: 20px 0;
}
.row_wrap {
  width: 72%;
  margin-left: auto;
}

.row {
  margin: 0 !important;
}

.choose_title {
  margin-left: 20px;
}
.choose_title h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
}

.line {
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 10px;
}

.line::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: #03544c;
}

.product_card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 300px;
}

.params_link {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.params_link > img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
  height: 100%;
}

.params_link h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 0;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 1090px) {
  .row_wrap {
    width: 100%;
  }

  .line {
    width: 80%;
  }
  .popular_section {
    background-image: url("../../../assets/home/line.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: 300px;
    padding: 20px 0;
  }

  .product_card {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .product_card {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .popular_section {
    background-image: none !important;
  }

  .product_card {
    height: 100%;
  }
  .col{
    margin-bottom: 30px !important;
  }
}
