.popular_section {
  background-image: url("../../../assets/product/productbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position-y: 100px;
}
.row_wrap {
  width: 72%;
  margin-left: auto;
  padding-bottom: 30px;
  height: 70vh !important;
  overflow-y: auto;
}

.row_wrap::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}
.row_wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5a79e5;
  border-radius: 10px;
}

.row_wrap::-webkit-scrollbar-thumb {
  background: #03544c;
  border-radius: 10px;
}

.row_wrap::-webkit-scrollbar-thumb:hover {
  background: #03544c;
}

.row {
  margin: 0 !important;
}

.choose_title {
  margin-left: 20px;
}
.choose_title h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.line {
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 10px;
}

.line::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: #03544c;
}

.product_card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 100%;
}

.params_link {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.params_link > img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.col {
  margin-bottom: 20px;
}

.params_link h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0;
  color: #000000;
}

.no_data_box {
  width: 100%;
  height: 56vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ant_icons {
  font-size: 60px !important;
}
.no_data_box > h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0;
  color: #000000;
}

@media only screen and (max-width: 1090px) {
  .row_wrap {
    width: 100%;
  }

  .line {
    width: 80%;
  }
}
@media only screen and (max-width: 991px) {
  .col {
    margin-bottom: 30px;
  }
  .product_card {
    height: 100%;
  }
  .params_link > img {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .popular_section {
    background-image: none !important;
  }
}
