/* .slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide div {
  width: auto;
  margin-right: 10px;
}
.slick-slide img {
  width: calc(100% - 10px) !important;
} */

/* For the demo */
.slick-slide div {
  width: auto;
  height: 350px !important;
  margin-right: 10px !important;
  background: #ffffff !important;
  border: 1px solid #eeeeee !important;
  border-radius: 15px !important;
}
.slick-prev,
.slick-next {
  z-index: 999 !important;
  display: none !important;
}

.slick-prev {
  top: -55px !important;
  right: 50px !important;
}
.slick-next {
  top: -55px !important;
  right: 42px !important;
}
.slick-prev:before,
.slick-next:before {
  color: #03544c !important;
  font-size: 45px !important;
}

@media only screen and (max-width: 1090px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
