/* .wrapper_home {
  width: 100%;
  display: flex;
  align-items: first baseline ;
  justify-content: space-between;
  position: relative;
}

.category{
    margin: 0 20px 0 0;
    position: -webkit-sticky;
    position: sticky;
    top: 180px;
} */