.product_wrapper {
  /* width: 100%; */
  height: 100%;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  /* margin-bottom: 30px; */
  position: relative;
}

.product_wrapper img{
  width: 100%;
  /* height: 100%; */
}
.col{
  margin-bottom: 20px !important;
  height: 204px !important;
  padding: 0 10px !important;
}

.product_wrapper::before {
  content: '';
  position: absolute;
  height: 100%;
  border-radius: 20px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 50, 0.84) 0%,
    rgba(87, 86, 158, 0) 100%
  );
}

.links {
  position: absolute;
  top: 20px;
  left: 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.product_wrapper > img {
  width: 200px;
}
.row {
  margin: 0 !important;
}

.row_wrap {
  width: 72%;
  margin-left: auto;
}

@media only screen and (max-width: 1090px) {
  .row_wrap {
    width: 100%;
  }
}
