.category_wrapper {
  z-index: 1;
  background: #ffffff;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #eeeeee;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 300px;
  padding: 0 30px 10px 30px;
  position: -webkit-fixed;
  position: fixed;
  top: 180px;
  left: 20px;
}
.category_dropdown {
  display: none;
}
.category_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.category_title > i {
  margin-right: 7px;
  font-size: 25px;
  color: #03544c;
}
.category_list {
  width: 100%;
  height: 332px;
  overflow-y: auto;
  padding: 0;
  list-style: none;
}

.category_list::-webkit-scrollbar {
  width: 3px !important;
  height: 5px !important;
}
.category_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5A79E5; 
  border-radius: 10px;
}
 
/* Handle */
.category_list::-webkit-scrollbar-thumb {
  background: #03544c; 
  border-radius: 10px;
}

/* Handle on hover */
.category_list::-webkit-scrollbar-thumb:hover {
  background: #03544c;
}
.category_list > li {
  margin-bottom: 20px;
}

.drop_link {
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.drop_link > img {
  margin-right: 10px;
}

.category_dropdown > .ant-dropdown-menu {
  padding: 10px;
}

@media only screen and (max-width: 1302px) {
  .category_wrapper {
    width: 270px;
  }
}
@media only screen and (max-width: 1222px) {
  .category_wrapper {
    width: 250px;
  }
}
@media only screen and (max-width: 1155px) {
  .category_wrapper {
    width: 230px;
  }
}

@media only screen and (max-width: 1090px) {
  .category_wrapper {
    display: none;
  }
  .category_dropdown {
    display: inline-block !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    background: #03544c;
    margin: 10px 0 20px 20px;
    /* position: absolute; */
  }
}
