.more_wrapper {
  padding: 183px 0 10px 0;
  overflow-y: hidden;
}
.more_bg{
  background-image: url("../../assets/product/linesproduct.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position-y: 400px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 991px) {
 .more_bg{
  background-image: none;
 }
}
@media only screen and (max-width: 425px) {
  .more_wrapper {
    padding: 207px 0 10px 0;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 375px) {
  .more_wrapper {
    padding: 205px 0 10px 0;
    overflow-y: hidden;
  }
}
