.more_wrapper {
  padding: 183px 0 10px 0;
  overflow-y: hidden;
}
@media only screen and (max-width: 425px) {
  .more_wrapper {
    padding: 153px 0 10px 0;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 375px) {
  .more_wrapper {
    padding: 153px 0 10px 0;
    overflow-y: hidden;
  }
}
